.home-container {
  text-align: center;
}

.logo-container {
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  position: fixed;
  bottom: 1rem;
}

.slogan-contact {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.viws-logo {
  max-width: 8rem;
}

