<form>
    <mat-form-field appearance="fill">
        <mat-label>Frist Name</mat-label>
        <input matInput placeholder="John">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Smith">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>eMail</mat-label>
        <input matInput placeholder="jsmith@gmail.com">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="111-111-1111">
    </mat-form-field>
</form>