<div class="contact-container">
  <div>
    <h1>GET IN TOUCH</h1>
    <h3>WE'LL GET BACK TO YOU AS SOON AS POSSIBLE</h3>
  </div>
  <form class="form-container">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Frist Name</mat-label>
        <input matInput placeholder="John">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Smith">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>eMail</mat-label>
        <input matInput placeholder="jsmith@gmail.com">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="111-111-1111">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">SUBMIT</button>
    </div>
  </form>
</div>